venv
.env
recordings/
# Archivos de bytes compilados
*.pyc
*.pyo
*.pyd

# Directorios de caché de Python
__pycache__/
src/voice_assistant/__pycache__/
src/voice_assistant/wake/__pycache__/
src/voice_assistant/audio/__pycache__/
src/voice_assistant/intents/__pycache__/
**/*.pyc